body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listview{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list-div{
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.list-title{
  font-size:60px;
  font-family: Roboto-Mono;
  color: #00B3B3;
}
.list-add{
  /* align-items:flex-end; */
  justify-content: flex-end;
  padding-right: 12%;
}
button{
  font-size: 20px;
  color: white;
  background-color: #00B3B3;
  border: 2px solid #00B3B3;
  /* width: 10%; */
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
}

.table{
  margin: 2% 2%;
  /* height: 80vh; */
  /* overflow: auto;  */
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);

}
.button-add{
  background-color: #00B3B3;
}

.form-input{
  margin:5%;
}
.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  height: 100vh;
}
.login-form{
  width: 30%;
  height: 30%;
  background-color: white;
  padding: 5%;
}

.text-field{
  margin: 5%;
}

.logout-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}